<div class="col-md-6">
  <h2> role Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles">
      <td class="hidden">{{role.roleId}}</td>
      <td data-editable="true">{{role.roleShortDescription}}</td>
      <td><button class="btn btn-danger" (click)="deleteRole(role)"> Delete role</button></td>
    </tr>
    </tbody>
  </table>
</div>
