<div class="col-md-6">
  <h2> category Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>statusId</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td class="hidden">{{category.categoryId}}</td>
      <td data-editable="true">{{category.statusId}}</td>
      <td><button class="btn btn-danger" (click)="deleteCategory(category)"> Delete category</button></td>
    </tr>
    </tbody>
  </table>
</div>
