<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand text-uppercase" href=" ">{{ title }}</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarUsers" role="button">
          Users
        </a>
        <div aria-labelledby="Users" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/users"> List Users</a>
          <a class="dropdown-item" routerLink="/addUser">Add User</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarCountries" role="button">
          Countries
        </a>
        <div aria-labelledby="Countries" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/countries"> List Countries</a>
          <a class="dropdown-item" routerLink="/addCountry">Add Country</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarLangs" role="button">
          Languages
        </a>
        <div aria-labelledby="Languages" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/langs"> List Languages</a>
          <a class="dropdown-item" routerLink="/addLang">Add Language</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarRoles" role="button">
          Roles
        </a>
        <div aria-labelledby="Languages" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/roles"> List Roles</a>
          <a class="dropdown-item" routerLink="/addRole">Add Role</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarProducts" role="button">
          Products
        </a>
        <div aria-labelledby="Products" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/products"> List Products</a>
          <a class="dropdown-item" routerLink="/addProduct">Add Product</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarCategories" role="button">
          Categories
        </a>
        <div aria-labelledby="Categories" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/categories"> List Categories</a>
          <a class="dropdown-item" routerLink="/addCategory">Add Category</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarProductTypes" role="button">
          Product types
        </a>
        <div aria-labelledby="Product Types" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/productTypes"> List Product types</a>
          <a class="dropdown-item" routerLink="/addProductType">Add Product type</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarLocations" role="button">
          Locations
        </a>
        <div aria-labelledby="Locations" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/locations"> List Locations</a>
          <a class="dropdown-item" routerLink="/addLocation">Add Location</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarMenus" role="button">
          Menus
        </a>
        <div aria-labelledby="Menus" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/menus"> List Menus</a>
          <a class="dropdown-item" routerLink="/addMenu">Add Menu</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarOffers" role="button">
          Offers
        </a>
        <div aria-labelledby="Offers" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/offers"> List Offers</a>
          <a class="dropdown-item" routerLink="/addOffer">Add Offer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarOrders" role="button">
          Orders
        </a>
        <div aria-labelledby="Orders" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/orders"> List Orders</a>
          <a class="dropdown-item" routerLink="/addOrder">Add Order</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarOrderLines" role="button">
          OrderLines
        </a>
        <div aria-labelledby="OrderLines" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/orderLines"> List OrderLines</a>
          <a class="dropdown-item" routerLink="/addOrderLine">Add OrderLine</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarRecipes" role="button">
          Recipes
        </a>
        <div aria-labelledby="Recipes" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/recipes"> List Recipes</a>
          <a class="dropdown-item" routerLink="/addRecipe">Add Recipe</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarStocks" role="button">
          Stocks
        </a>
        <div aria-labelledby="Stocks" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/stocks"> List Stocks</a>
          <a class="dropdown-item" routerLink="/addStock">Add Stock</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-link" routerLink="/login" (click)="logout()">Logout</a>
      </li>


    </ul>
  </div>
</nav>

